# Ignore invisible files/folders except .gitignore
.*
!.gitignore

# Ignore user preferences
userPreferences.*
Preferences/
Settings/
/Resources/php.ini
userPreferences.*/

# Ignore data
# Data/*

# Ignore pem
cert.pem
key.pem

# Ignore methods for test
_*.4dm

# Ignore forms for test
__TEST__*

# Ignore derived data except the Documentation
DerivedData/
#!DerivedData/Documentation/

Project/DerivedData/*
Data/Logs/*

# Ignore generated dynamic library
# Libraries/lib4d-arm64.dylib

# Ignore Trash
Trash/

# for Mac
.DS_Store

### このプロジェクトでビルドしたアプリ用のフォルダーを除く

SampleBuildApp_Build/
